.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15) !important;
}

.navBar .title {
    font-family: var(--fontFamily);
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--veryDarkBlue);
}

.navBar .mode {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navBar .mode .dark {
    font-family: var(--fontFamily);
    font-size: 1rem;
    font-weight: 600;
    color: var(--veryDarkBlue);
}

@media (max-width:600px) {
    .navBar {
        padding: 1rem 2rem;
    }
    .navBar .title {
        font-size: 1rem;
    }
}