.detailsContainer {
    padding: 4rem;
    height: 100vh;
}

.detailsContainer #back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 8rem;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 4rem
}

.detailsContainer #back svg {
    padding-left: 1rem;
}

.detailsContainer #back p {
    font-family: var(--fontFamily);
    color: var(--veryDarkBlue);
    font-size: 1rem;
}

.detailsContainer .main {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    gap: 4rem;
    height: auto;
}

.detailsContainer .main .left,
.detailsContainer .main .right {
    width: 50%;
}

.detailsContainer .main .left .flag {
    width: 90%;
    height: auto;
}

.detailsContainer .main .right p {
    font-family: var(--fontFamily);
    font-weight: 800;
    font-size: 1rem;
}

.detailsContainer .main .right span {
    font-weight: 300;
}

.detailsContainer .main .right .countryName {
    font-size: 2rem;
}

.detailsContainer .main .right .flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.detailsContainer .main .right .borders {
    margin-top: 3rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    overflow: auto;
}

.detailsContainer .main .right .borders .links {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    text-transform: capitalize;
}

@media (max-width:800px) {
    .detailsContainer {
        padding: 2rem;
        height: auto;
    }
    .detailsContainer .main {
        flex-direction: column;
    }
    .detailsContainer .main .left,
    .detailsContainer .main .right {
        width: 100%;
    }
    .detailsContainer .main .left {
        text-align: center;
    }
    .detailsContainer .main .right .flex {
        flex-direction: column;
    }
    .detailsContainer .main .right .borders {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 0;
        padding: 0 0 2rem;
        width: 100%;
    }
    .detailsContainer .main .right .borders .links {
        display: flex;
        flex-direction: row;
    }
}