.homeContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    /* height: 100vh; */
}

.homeContainer .upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
}

.homeContainer .upper .search {
    width: 40%;
}

.homeContainer .upper .filter {
    width: 30%;
}

@media (max-width:600px) {
    .homeContainer {
        padding: 2rem;
    }
    .homeContainer .upper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .homeContainer .upper .search,
    .homeContainer .upper .filter {
        width: 100% !important;
    }
}