@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
:root {
    --fontFamily: 'Nunito Sans', sans-serif;
    --darkBlut: hsl(209, 23%, 22%);
    /*Dark Mode Elements*/
    --VerydarkBlue: hsl(207, 26%, 17%);
    /*    Dark Mode Background */
    --veryDarkBlue: hsl(200, 15%, 8%);
    /* (Light Mode Text) */
    --DarkGray: hsl(0, 0%, 52%);
    /* (Light Mode Input) */
    --VeryLightGray: hsl(0, 0%, 98%);
    /* (Light Mode Background) */
    --White: hsl(0, 0%, 100%)/*
    /*  (Dark Mode Text & Light Mode Elements) */
    --Homepage: 14px;
    --DetailPage: 16px;
    /*- Weights: 300, 600, 800 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}